:root {
    --cell-size: 100px;

    --color: #81c3fd; /* for hover */
    --color-set: #0275d8; /* when set */
    --l: 10px; /* X line-width */
}

body {
    margin: 0;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

/* removing border from outer edges of certain cells */
.cell:nth-child(1), .cell:nth-child(2), .cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(1), .cell:nth-child(4), .cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(3), .cell:nth-child(6), .cell:nth-child(9) {
    border-right: none;
}

.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9) {
    border-bottom: none;
}

/* hover effect determined based on whether cell is filled or not */
.cell.x, .cell.circle {
    cursor: not-allowed;
}

/* for the X */
.board.x .cell:not(.circle):not(.x):hover {
    background: 
        linear-gradient(
            to top right, 
            transparent calc(50% - var(--l) / 2), 
            var(--color) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2),
            transparent calc(50% + var(--l) / 2)),
            linear-gradient(to bottom right,
            transparent calc(50% - var(--l) / 2),
            var(--color) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2));
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}